<div class="container">
    <div class="row">
        
        <div class="col-md-4 text-center bg-main d-flex align-items-center">
            <h2>Trending Movies
                <br>
                Right Now
            </h2>
        </div>

        

        <div *ngFor='let movie of trendingMovies' class="col-md-2 py-4">
           <a [routerLink]="['/moviedetails' , movie.id]">
            <div id="trendingMov" class="position-relative">
             <img [src]="trendingMoviesimg+movie.poster_path" class="w-100" >
             <h6 class="bg-main py-3 text-center">{{movie.title}}</h6>
              <div class="text-center voete position-absolute">{{movie.vote_average}}</div>
            </div>
        </a>

       </div>
    </div>
</div>